body {
    padding: 0;
    /* background-color: rgb(179, 221, 255); */
    background-image: url("ban-do-tphcm-sau-sap-nhap.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(3, 3, 100);
    font-size: 50px;
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 40px;
}

.card {
    background:rgb(209, 234, 255);
    border:1px solid #e5e7eb;
    border-radius:12px;
    padding:16px;
    box-shadow:0 1px 2px rgba(0,0,0,.04);
    margin-top: 20px;
}

.title {
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
}

#inputCu {
    /* background: transparent; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    height: 25px;
    width: 592px;
    font-size: 20px;
}

#inputMoi {
    /* background: transparent; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    height: 25px;
    width: 592px;
    font-size: 20px;
}

.search-box {
    width: 600px;
    background: #fff;
    margin: 0px auto 0;
}

.search-box2 {
    width: 600px;
    background: #fff;
    margin: 0px auto 0;
}

.row {
    display: blog;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.row2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.atcp-box ul {
    padding: 0px 10px;
}

.atcp-box2 ul {
    padding: 0px 10px;
}

.atcp-box ul li {
    font-size: 20px;
    list-style: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.atcp-box2 ul li {
    font-size: 20px;
    list-style: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.atcp-box ul li:hover {
    background: white;
}

.atcp-box2 ul li:hover {
    background: white;
}

.atcp-box {
    max-height: 200px;
    width: 615px;
    overflow-y: scroll;
}

.atcp-box2 {
    max-height: 200px;
    width: 615px;
    overflow-y: scroll;
}

#btnSearch {
    background-color: green;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 110px;
    margin-top: 30px;
    display: block;
    margin-left: auto;  
    margin-right: auto;
    border-radius: 2px;
}

#btnSearch2 {
    background-color: green;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 110px;
    margin-top: 30px;
    display: block;
    margin-left: auto;  
    margin-right: auto;
    border-radius: 2px;
}


#btnSearch:hover {
    background-color: darkgreen;
    cursor: pointer;
}

#btnSearch2:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.tip {
    display: none;
    margin-left: 8px;
    cursor: help;
}

.tip::after {
    content: "ℹ️";
    font-size: 16px;
    margin-left: 4px;
}

.meta {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

#result {
    margin: 40px 20px 40px 20px;
    font-size: 30px;
    font-weight: bold; 
    color: green; 
    border: 2px solid darkgreen;
    background-color: whitesmoke;
    width: max-content; 
    padding: 3px 6px 3px 6px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

#result2 {
    margin: 40px 20px 40px 20px;
    font-size: 30px;
    font-weight: bold; 
    color: green; 
    border: 2px solid darkgreen;
    background-color: whitesmoke;
    width: max-content;
    max-width: 90%; 
    padding: 3px 6px 3px 6px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(230, 244, 255);
    text-align: center;
    padding: 10px 0;
    border: none;
}

@media (max-width: 700px) {
    body{
        background-image: url("2-ban-do-tphcm-sau-sap-nhap.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 {
        font-size: 40px;
    }
    #inputCu {
        width: 90%;
    }
    #inputMoi {
        width: 90%;
    }
    .search-box {
        width: 90%;
    }
    .search-box2 {
        width: 90%;
    }
    #btnSearch {
        width: 80px;
        font-size: 95%;
        margin-bottom: 20px;
    }
    #btnSearch2 {
        width: 80px;
        font-size: 95%;
        margin-bottom: 20px;
    }
    #result {
        max-width: 90%;
        font-size: 20px;
        word-wrap: break-word;
        margin: auto;
    }
    #result2 {
        max-width: 90%;
        font-size: 20px;
        word-wrap: break-word;
        margin: auto;
        /* margin-bottom: 60px; */
    }
}